SentioSteppingTcpIp/.vs/*
SentioSteppingTcpIp/SentioSteppingTcpIp/bin/*
SentioSteppingTcpIp/SentioSteppingTcpIp/obj/*
Sentio.Rpc.Client/.vs/*
Sentio.Rpc.Client/obj/*
Sentio.Rpc.Client/bin/*
Sentio.Rpc/bin/*
Sentio.Rpc/obj/x64/Debug/netstandard2.0/Sentio.Rpc.dll
.vs/*
Sentio.BasicTcp/bin/*
Sentio.BasicTcp/.vs/*
Sentio.BasicTcp/obj/*
